.none{
	display: none;
}
.register{
	padding:30px 10px;
	overflow: hidden;
}
.register>img{
	float: left;
	width: 460px;
	height:460px;
	margin-top: 15px;
}
.register .reg_form{
	float: right;
	width: 400px;
	height:510px;
	border:1px solid #ddd;
	padding:10px;
}
.register .reg_form h2{
	text-align: center;
	color:#F39702;
}
.register .reg_form ul{
	padding:20px 0;
}
.register .reg_form ul li{
	position: relative;
	padding-top:25px;
	overflow: hidden;
}
.register .reg_form ul li input{
	box-sizing: border-box;
    width: 100%;
    display: block;
    padding-left: 45px;
    height: 38px;
    border: 1px solid #b5bdca;
    border-radius: 2px;
}
.register .reg_form ul li.ver_code input{
	width: 67%;
	display: inline-block;
}
.register .reg_form ul li.ver_code button{
	float: right;
	width: 30%;
	height: 38px;
	background: #F39702;
	border: 0;
	outline: 0;
	color:#fff;
	border-radius: 2px;
	box-sizing: border-box;
	cursor: pointer;
}
.register .reg_form ul li em{
    position: absolute;
    top: 32px;
    left: 8px;
    font-size: 25px;
    color: #e5e5e5;
}
.register .reg_form ul li i{
	position: absolute;
	top: 0;
	left: 0;
	font-style: normal;
	color:#F39702;
	display: none;
}
.register .reg_form ul .li_checkbox input{
	width: 15px;
	height:15px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}
.register .reg_form ul .li_checkbox span a{
	color:#F39702;
}
.register .reg_form ul .li_btn{
	padding-top: 5px;
	margin-top: 10px;
}
.register .reg_form ul .login{
	height: 50px;
}
.register .reg_form ul .login a{
	float: left;
}
.register .reg_form ul .li_btn button{
	width: 100%;
	height:45px;
	background: #F39702;
	color:#fff;
	border:none;
	outline: 0;
	cursor: pointer;
	border-radius: 3px;
}
.register .reg_form ul li:nth-child(3) input{
	box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 10px;
    height: 38px;
    border: 1px solid #b5bdca;
    border-radius: 2px;
}
.register .reg_form ul li:nth-child(3)>span{
	float: left;
    font-size: 16px;
    color: #999;
    padding-top: 7px;
}
.register .reg_form ul li:nth-child(3) img{
	float: left;
    width: 30%;
    height: 37px;
    margin-left: 10px;
    background: #ddd;
}
.register .reg_form ul .login{
	padding-top: 10px;
}
/*.register .reg_form ul .login a{
	position:absolute;
	top:10px;
	right:0;
	color:#F39702;
	cursor: pointer;
}*/
.li_btn>button.disabled{
	background: #ccc;
}
.login a:first-child{
	float: left;
}
.login a:nth-child(2){
	float: left;
}
.login a:nth-child(3){
	float: right;
}
.qq , .weixin{
	display: inline-block;
	width: 20px;
	height:20px;
}
.qq{
	background: url(../img/loginQQ.png) no-repeat center center;
	vertical-align: middle;
}
.weixin{
	background: url(../img/loginWeixin.png) no-repeat center center;
	vertical-align: middle;
}
.login span.line{
	color:#999;
	font-size: 14px;
	padding: 0 10px;
}
.login span{
	font-size:24px;
	color:#4bcc60;
	cursor: pointer;
}
.register .reg_form ul li.forget{
	padding-top: 5px;
}
.forget a{
	float: right;
}
.register .reg_form ul li.login{
	margin-top: 5px;
}
.login a:first-child{
	color:#F39702;
	padding-left: 15px;
}
.register .reg_form ul .login a:last-child{
	float: right;
	padding-right: 15px;
}
#choice_login_way{
	text-align: center;
}
#choice_login_way input{
	display: inline-block;
	width: 15px;
	margin: 0 5px 0 10px;
	vertical-align: middle;
}
#choice_login_way input:last-child{
	margin-left: 60px;
}
.fastLogin{width: 100%;overflow: hidden;/*margin-top: 80px;*/}
.fastTitle{width: 100%;margin: 10px auto;height: 24px;background: url(../img/titleBg.jpg) repeat-x;line-height: 24px;text-align: center;}
.fastTitle span{display: inline-block;padding: 0px 10px;color: #f39702;background:#fff;font-size: 16px;font-weight: 600;}
.fastLogin ul{width: 60%;margin: 0px auto;}
.fastLogin ul li{width: 50%;float: left;text-align: center;}
.fastLogin ul li span{font-size: 36px;cursor: pointer;}
.icon-weixin{color:#65d676 ;}
.icon-qq{color: #3ab2ee;}
.mask{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000;
	opacity: .6;
	z-index: 1000;
}
.mask_content{
	position: fixed;
	width: 350px;
	height: 200px;
	background: #fff;
	top: 50%;
	left: 50%;
	z-index: 1001;
	margin-top: -100px;
	margin-left: -175px;
}
.mask_content h3{
	background: #F39704;
	padding: 5px 10px;
}
.mask_content>div{
	text-align: center;
	font-size: 16px;
	padding: 40px 20px;
}
.mask_content button{
	float: right;
	width: 50px;
	height: 30px;
	text-align: center;
	font-size: 14px;
	background: #F39704;
	color: #fff;
	border: 0;
	outline: 0;
	margin-right: 10px;
	cursor: pointer;
	border-radius: 3px;
}
