.none{
	display:none;
}
.course_info{
	padding: 20px 10px;
}
.course_info>img{
	border: 1px solid #eee;
	float: left;
	width: 320px;
	height:160px;
	margin-top: 5px;
	margin-left: 25px;
	padding: 10px;
}
.course_info .info{
	float: left;
	width: 640px;
	margin-left: 60px;
}
.course_info .info h2{
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
}
.course_info .info ul{
	padding:15px 20px 0px 20px;
	overflow: hidden;
}
.course_info .info ul li{
	float: left;
	width: 46%;
	line-height: 30px;
	margin: 0px 4% 0px 0px;
	font-size: 15px;
}
.course_info .info p{width: 100%;line-height: 30px;font-size: 15px;text-indent: 20px;}
.course_info .info ul li span,.course_info .info p span{
	font-size: 14px;
	color: #888;
}
.course_info .info ul li b{color: #888;font-weight: normal;}
.course_info .info ul li span.cost{
	font-size: 24px;
	color:#F39704;
	padding-right: 10px;
}
.course_info .info>div{
	padding-left: 20px;
	width: 100%;
	height: 50px;
}
.course_info .info>div em{
	font-size: 18px;
	padding-right: 3px;
	color:#75b66a;
	vertical-align: middle;
}
.course_info .info>div em:nth-child(3){
	color:#fd938f;
}
.course_info .info>div em:nth-child(5){
	color:#F39704;
}
.course_info .info>div span{
	font-size: 12px;
	color:#21a7fd;
	padding-right: 20px;
	vertical-align: middle;
}
.course_info .info>div button{
	float:right;
	width: 135px;
	height: 40px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	background: #F39704;
	border: none;
	outline: none;
	cursor: pointer;
	margin: 0px 10px;
}
.course_info .info>div button.disabled{background: #bbb;}
.schedule,.grade{
	clear: both;
	padding:0px 30px;
}
.schedule>h2{
	color:#F39704;
}
.schedule ul,.grade ul{
	/*padding: 15px;*/
	overflow: hidden;
}
.grade p{font-size: 16px;font-family: "微软雅黑";color: #666;font-weight: 600;}
.grade ul{margin: 10px auto;}
.grade .add{
	float: right;
	width: 100px;
	height: 35px;
	margin-right: 20px;
	border: 0;
	outline: 0;
	text-align: center;
	line-break: 35px;
	font-size: 16px;
	color:#fff;
	background: #F39704;
	border-radius: 3px;
	cursor: pointer;
}
.schedule ul li{
	float: left;
	width: 150px;
	/*height:120px;*/
	text-align: center;
	border:1px solid #f39702;
	border-radius: 5px;
	background: #fff7ea;
	box-sizing: border-box;
	margin-right:15px;
	margin-bottom: 15px;
	overflow: hidden;cursor: pointer;
}
.schedule ul li b{
	display: block;
	width: 100%;
	font-size: 25px;
	color:#ed7137;
	text-align: center;
	padding-top: 10px;
}
.schedule ul li span{
	color:#f6b25f;
	display: block;
	font-size: 14px;
}
.grade  ul li{
	float: left;
	color:#ed7137;
	text-align: center;
	border:1px solid #f39702;
	border-radius: 5px;
	background: #fff7ea;
	padding: 3px 5px;
	/*box-sizing: border-box;*/
	margin-right:15px;
	margin-bottom: 5px;
	overflow: hidden;
	cursor: pointer;
	font-size: 15px;
	position: relative;
}
.grade  ul li.full{
	background: #ddd;
    color: #fff;
    border: 1px solid #fff;
}
.grade  ul li em{
    position: absolute;
    top: 0;
    right: 0;
    font-style: normal;
    color: #f00;
    font-size: 12px;
    border-radius: 5px;
    padding: 0 3px;
    border: 1px solid #f39702;
}
.grade  ul li span{
	display: block;
	text-align: center;
}
.grade  ul li.gradeSelect{
	background: #ed7137;color: #fff;
}
/*课程详情,课程大纲*/
.course_detail{
	overflow: hidden;
	border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
	/*min-height: 300px;*/
}
.courseTitle{
	padding: 0px 10px;
	height: 50px;
	line-height:50px;
	border-left: 10px solid #F39702;
	text-indent: 20px;
	color: #666;
	margin-bottom: 20px;
	font-family: "微软雅黑";
	font-size: 16px;
	font-weight: 600;
}
.course_detail h2 span{
	display: inline-block;
	width: 95px;
	height:45px;
	text-align: center;
	line-height: 45px;
	background: #fae7c9;
	margin-right: 5px;
	border-radius: 5px;
	font-weight:normal;
	font-size: 16px;cursor: pointer;
	color: #666;
}
.course_detail h2 span.cur{
	color:#fff;
	background: #F39702;
}
/*课程详情*/
.detail{
	padding:20px 40px;
}
.detail p{
	color:#a8a8a8;
	font-size: 12px;
	text-indent: 24px;
	text-align: justify;
}
.detail ul{
	width: 100%;
	padding:10px 0;
	overflow: hidden;
}
.detail ul li{
	float: left;
	width: 33.3%;
	box-sizing: border-box;
	padding: 3px;
	
}
.detail ul li img{
	width: 100%;
}
.choice_course{
	position: relative;
	padding: 0 20px;
}
.pre, .next {
    position: absolute;
    width: 18px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
}
.pre {
    left: 0px;
    top: 80px;
    background: url(../img/pre.png) no-repeat center center;
}
.next {
    right: 20px;
    top: 80px;
    background: url(../img/next.png) no-repeat center center;
}
.choice_course ul{
	padding: 10px;
	overflow: hidden;
}
.choice_course ul li{
	width: 19%;
	float: left;
	position: relative;
	padding: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
	border: 2px solid #ddd;
	border-radius: 3px;
}
.choice_course ul li.checkedCourse{
	border: 2px solid #F39704;
}
.choice_course ul li img{
	width: 100%;
}
.choice_course ul li h2{
	font-size: 16px;
}
.choice_center {
	overflow: hidden;
}
.choice_center ul{
	padding: 10px 20px;
	text-align: center;
	overflow: hidden;
}
.choice_center ul span{
	/*float: left;*/
	display: inline-block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #F39702;
    font-size: 17px;
    margin-left: -2px;
    border: 1px solid #F39702;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}
.choice_center ul span.cur{
	background: #F39704;
	color:#fff;
}
.selectedCourse ul{
	padding: 0 20px;
}
.selectedCourse ul li{
    position: relative;
    float: left;
    width: 15%;
    padding: 3px;
    margin-right: 15px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 3px;
}
.selectedCourse ul li b{
	position: absolute;
    right: -1px;
    top: 0;
    color: #f00;
    border: 1px solid #f39072;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.selectedCourse ul li .delete{
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 14px;
	background: #ddd;
	color: #f00;
	cursor: pointer;
	border-radius: 50%;
	border: 1px solid #F39704;
}
.selectedCourse ul li img{
	width: 100%;
}
.buy{
	width: 100px;
	height: 35px;
	border: 0;
	outline: 0;
	text-align: center;
	line-break: 35px;
	font-size: 16px;
	color:#fff;
	background: #F39704;
	border-radius: 3px;
	cursor: pointer;
}
button.disabled{
	background: #ddd;
}
.selectedCourse>div{
	float: right;
	margin-right: 50px;
	margin-top: 20px;
}
.selectedCourse p{
    float: right;
    margin-right: 160px;
    margin-top: 15px;
    width: 60px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 90px;
    color: #ddd;
}
.selectedCourse>div span{
	display: block;
	font-size: 14px;
	color: #666;
}
.selectedCourse>div span b{
	color: #F39704;
}
.selectedCourse>div span.price b{
	font-size: 20px;
}
.selectedCourse ul li{
	float: left;
    /* width: 150px; */
    /* height: 50px; */
    /* line-height: 50px; */
    color: #ed7137;
    text-align: center;
    border: 1px solid #f39702;
    border-radius: 5px;
    background: #fff7ea;
    padding: 3px 5px;
    /* box-sizing: border-box; */
    margin-right: 15px;
    margin-bottom: 5px;
    overflow: hidden;
    cursor: pointer;
    font-size: 15px;
}
.selectedCourse ul li span{
	display: block;
	text-align: center;
}
.state01{
	position:absolute;
	left: 0;
	top:0;
	width: 40px;
	height:26px;
	padding: 0 3px;
	background: url(../img/label01.png) no-repeat;
	background-size: 100% 100%;
	opacity: 1;
	color:#fff;
	text-align: center;
	font-size: 12px;
}
.state02{
	position:absolute;
	left: 0;
	top:0;
	width: 40px;
	height:26px;
	padding: 0 3px;
	background: url(../img/label02.png) no-repeat;
	background-size: 100% 100%;
	opacity: 1;
	color:#fff;
	text-align: center;
	font-size: 12px;
}
.state03{
	position:absolute;
	left: 0;
	top:0;
	/*width: 40px;*/
	height:26px;
	padding: 0 3px;
	background: url(../img/label03.png) no-repeat;
	background-size: 100% 100%;
	opacity: 1;
	color:#fff;
	text-align: center;
	font-size: 12px;
}
.course_detail>h3{
	padding: 5px 30px;
	margin-top: -10px;
	color:#666;
}
.checked_course{
	background: #ddd;
	overflow: hidden;
}
.container, .containers{
	margin: 0 auto;
}
.course_detail>p{
	line-height: 30px;
    font-size: 15px;
    text-indent: 20px;
}
