.mui-content{
	padding: 0 .2rem;
}
.student_info li {
	padding: .3rem 0;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}

.student_info li span {
	float: left;
	color: #999;
	font-size: .4rem;
}

.student_info li span img {
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
}

.student_info li i {
	float: right;
	color: #d6d6d6;
	font-weight: normal;
	padding-left: .2rem;
}

.student_info li em {
	float: right;
	color: #666;
	font-size: .4rem;
}

.student_info li:first-child b {
	margin-top: .2rem;
}

.student_info li:first-child em {
	margin-top: .2rem;
}

.mui-content>div.textBg {
	margin: .3rem 0;
	height: 1rem;
	line-height: 1rem;
	border-bottom: 1px solid #eee;
}


.mui-content div.textBg span {
	float: left;
	color: #B5B5B5;
}
.mui-content div.textBg span b{
	color: #f00;
}
.mui-content div.textBg input,
.mui-content div.textBg select {
	float: right;
	text-align: right;
	width: 75%;
	margin: 0;
	padding: 0 .5rem;
	height: .9rem;
	line-height: .9rem;
	border: none;
	outline: none;
}

#choice_sex {
	width: 70%;
    padding: 0;
    direction: rtl;
    padding: 0 .5rem;
}

.mui-content div.textBg i {
	float: right;
	font-size: .5rem;
	margin-top: -.1rem;
	color: #999;
}

.mui-content button {
	width: 100%;
	text-align: center;
	height: 1rem;
	line-height: 1rem;
	background: -webkit-linear-gradient(120deg, #f39702, #ed7137);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(120deg, #f39702, #ed7137);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(120deg, #f39702, #ed7137);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(120deg, #f39702, #ed7137);
	/* 标准的语法 */
	color: #fff;
	border: none;
	outline: none;
}

.photo img {
	width: 100px;
	height: 100px;
}

.imghead {
	width: 122px;
	height: 122px;
	margin: 10px auto;
	border: 7px solid #9dcffb;
	border-radius: 50%;
	display: block;
}

.imghead img {
	width: 100px;
	height: 100px;
}

#previewImg {
	display: none;
}